*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    

}
.profile_body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    background-color: black;
    border-radius: 35px;
    position: relative;


}
.profile_body::before{
    content: "";
    height: 36%;
    width: 100%;
    position: absolute;
    background-color: gold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    top:0;
}

.image-body{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 50%;
    width:150px;
    height: 150px;
    margin-top: 15px;
}
.image-body .image{
    
    border-radius: 50%;
    height: 100%;
    width:100%;
    object-fit: cover;
    border:5px solid gold;
    padding: 3px;
        background-color: black;



}
.first-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin-top: 20px;
}
.social_media{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

    

}
.media{
    display: flex;
    margin:10px;
    border:3px solid white;
    width:35px;
    height: 35px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;


}
i{
    color:wheat;
    text-decoration: none;
}
.buttons .button{
    background-color: wheat;
    color:black;
    border-radius: 15px;
    margin: 15px;
    border: none;
    font-size: 15px;
    padding:8px;
    cursor: pointer;


}
.buttons .button:hover{
    font-size: 20px;
    transition: all 0.2s ease;
}

.statics{
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin: 10px;
}
.data{
    margin: 10px;
    border-right: 2px solid gray ;
}
.data i{
    color:white;
}
.data span{
    padding-right: 5px;
}
.statics :last-child{
    border: none;
}
